@import "fonts.scss";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $body-font;
  background: #06010e;
}

.svg-defs {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  display: none;
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  stroke-width: 0;
  stroke: #fff;
  fill: #fff;
  margin: 5px;
}

a.icon-link {
  text-decoration: none;
}

.is-heading {
  font-family: $heading-font;
}

nav {
  width: 100%;
  background: #142022;
  color: #fff;
  text-align: left;
  padding: 10px 20px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  .title {
    font-size: 46px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .surname {
    display: none;
  }

  .icons {
    display: flex;
    align-items: center;
  }

  a {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 3px;
    font-size: 22px;

    &:hover {
      background: rgba(122, 141, 156, 0.75);
    }

    &:link,
    &:active,
    &:visited,
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  .icon-label {
    display: none;
  }
}

main {
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  .about {
    width: 100%;
    margin-top: 75px;
    margin-bottom: 75px;
    font-size: 20px;
    text-align: center;
  }

  .projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .project {
      width: 100%;
      overflow: hidden;
    }

    .project:hover img {
      transform: scale(1.2, 1.2);
    }

    img {
      width: 100%;
      height: auto;
      transition: transform 1s;
    }
  }
}

.project {
  position: relative;
  margin: 5px;

  .description {
    background: rgba(59, 38, 103, 0.7);
    width: 80%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: #fff;
    border-radius: 3px;
  }
}

@media (min-width: 550px) {
  nav .surname {
    display: inline;
  }

  main .projects .project {
    width: 50%;
  }
}

@media (min-width: 700px) {
  main .about {
    width: 80%;
  }
}

@media (min-width: 800px) {
  nav .icon-label {
    display: inline;
  }
}

@media (min-width: 900px) {
  main .about {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  main .projects .project {
    width: calc((100%/3) - 10px);
  }
}
