$blue: #1f3241;
$black: #142022;
$pink: #f1dbdf;
$darkPink: #ecdbe3;
$purple: #d0c3cc;
$lightBlack: rgba(0, 0, 0, .7);
$lightBlue: rgba(122, 141, 156, 0.28);

/*
https://color.adobe.com/pt/Theme-13-color-theme-9835365/
https://color.adobe.com/pt/Tema-de-cores-12-color-theme-9835350/
*/
